header {
    font-family: Impact, Georgia, Arial;
    text-align: center;
    font-size: 250%;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    background-color: palegoldenrod;
}
body{
    
    background-color: aquamarine;
}

nav {
    background-color: antiquewhite;
    text-align: center;
    word-spacing: 4em;
    font-family: Arial, Georgia;
}

nav a:link{
    color: royalblue;
}
nav a:visited{
    color: darkgray;
}
nav a:hover {
    font-weight: bold;
}
nav a:active {
    text-decoration: none;
}
#description {
    color: darkblue;
    padding: 5em 0 0 0;
    font-size: 125%;
}
#beverages {
    padding-left: 20em;
    padding-right: 20em;
}
#submit {
    margin: 0 8em 0 8em;
}
#carouselExampleControls {
    width: 650px;
    height: auto;
}
.carousel-item {
    background-color: #cccccc
        color: #ffffff;
    text-shadow: 2px 2px 7px #111111;
    
}
.carousel-caption {
    font-size: 150%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}


footer {
    font-family: Arial, Georgia;
    text-align: center;
    font-size: 85%;
    background-color: palegoldenrod;
   
}